.news h1 {
 color: #ECDB04;
 text-align: center;
 font-style: italic;
 font-weight: bold;
}

.news h2 {
 text-align: center;
 font-style: italic;
 color: #c3bdcc;
}

.news p {
 text-align: justify;
 color: #807c85;
}

.news h4 {
 text-align: right;
 color: #c3bdcc;
}

.news img {
 margin:4% 0%;
 width:100%;
}