{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="container">
                <div class="form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="container-fluid">
                            <div class="form-group">
                                <h2 class="text_head">Change password</h2>
                            </div>
                            <div class="form-group">
                                <label for="pass_text">Enter your old password:</label>
                                <input name="old_password" type="password" class="form-control" id="pass_text" placeholder="Enter your old password">
                            </div>
                            <div class="form-group">
                                <label for="pass_text">Enter your new password:</label>
                                <input name="new_password1" type="password" class="form-control" id="pass_text" placeholder="Enter your new password">
                            </div>
                            <div class="form-group">
                                <label for="pass_text_re">Re-enter your new password:</label>
                                <input name="new_password2" type="password" class="form-control" id="pass_text_re" placeholder="Re-enter your new password">
                            </div>
                            {% if form.errors and request.method == 'POST' %}
                                <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
                            {% elif request.method == 'POST' %}
                                <div class="alert alert-success" role="alert">Password was changed!</div>
                            {% endif %}
                            <div class="form-group" style="margin-top: 5px">
                                <button type="submit"  class="btn">Confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}